.container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
  align-items: center;
  padding: 32px 16px;
  gap: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 12px;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 6px;
}

button:first-child {
  background-color: #4caf50;
}

button:nth-child(2) {
  background-color: #2196f3;
}

button:last-child {
  background-color: #f44336;
}
