table {
  width: 100%;
}

mat-toolbar {
  justify-content: center;
  background-color: teal;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container {
  margin-top: 20px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
